// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.conversation {
  height: 15em;
  width: 100%;
  background-color: #ccc;
}
